$background-darkerBlack: #000000;
$background-black: #222222;
$background-grey: #333333;
$background-white: #EEEEEE;
$background-blue: #2F80ED;
$background-lightblue: #2D9CDB;
$background-orange: #F2994A;
$background-yellow:#F2C94C;
$background-purple:#9B51E0;
$background-red: #D74344;
$background-green: #219653;

$gradientOne: #383838;
$gradientTwo: #303030;
$gradientThree: #2A2A2A;
$gradientFour: #262626;


$whiteFont: #FFF;
$blackFont : #222;
$greyFont:rgba(34, 34, 34, 0.60);

$circle-red: #EB5757;