$background-black: #222222;
$background-white: #EEEEEE;
$gradientOne: #383838;
$gradientTwo: #303030;
$gradientThree: #2A2A2A;
$gradientFour: #262626;

$whiteFont: #FFF;
$blackFont : #222;
$greyFont:rgba(34, 34, 34, 0.60);