@import "colors";
@import "fonts";
@import "mixins";
@import "analog";

.timerBoxDisplay {
  background-color: $background-white;
 @include vhvw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $greyFont;
  font-family: $basicFont;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
   @include basicFlexBox;

} 
.timerCont{
  background-color: $background-white;
  @include vhvw;
  display: flex;

}

.navLogoTimer{
  background-color: $background-white;
  color: $background-black;
  font:  $titleFont;
 
}
