@font-face {
    font-family: "titleFont";
    src: url(../fonts/Righteous-Regular.ttf);
}

@font-face{
    font-family: "ptSans";
    src: url(../fonts/PTSans-Regular.ttf);
}
$titleFont: "titleFont";
$basicFont: "ptSans";

